.form-container {
  display: flex;
  justify-content: center;
}

label {
  font-weight: bold;
  display: flex;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  display: block;
  width: 400px;
  padding: 6px 12px;
  font-size: 18px;
  line-height: 1.42857143;
  color: #000;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
}

/* .form-control {
  margin-bottom: 20px;
} */

.error {
  color: red;
  margin-top: -20px;
}
h3 {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
}
